// $textColor = red
$html2canvasColor = rgb(124, 179, 66)
table a,
.sidebar-group-items a:hover,
a.sidebar-link.active {
  color $html2canvasColor !important
  border-color $html2canvasColor !important
}

.nav-links .router-link-active,
.nav-links .nav-link:hover,
 {
  border-bottom-color: $html2canvasColor !important
}
// prev next
.table-of-contents,
.page-nav .prev,
.page-nav .prev a,
.page-nav .next,
.page-nav .next a{
  color $html2canvasColor
}

// 目录
.table-of-contents li a {
  color #2c3e50
}
// tip
.tip.custom-block {
  border-color $html2canvasColor!important
}

// btn
.action-button {
  background-color $html2canvasColor !important
}