// $textColor = red
$dxycolor = #7440d8
table a,
.sidebar-group-items a:hover,
a.sidebar-link.active {
  color $dxycolor !important
  border-color $dxycolor !important
}

.nav-links .router-link-active,
.nav-links .nav-link:hover,
 {
  border-bottom-color: $dxycolor !important
}
// prev next
.table-of-contents,
.page-nav .prev,
.page-nav .prev a,
.page-nav .next,
.page-nav .next a{
  color $dxycolor
}

// 目录
.table-of-contents li a {
  color #2c3e50
}
// tip
.tip.custom-block {
  border-color $dxycolor!important
}

// btn
.action-button {
  background-color $dxycolor !important
}